---
import AdminLayout from '../../../layouts/AdminLayout.astro';
import ConvexLeadDetail from '../../../components/admin/ConvexLeadDetail';

const { id } = Astro.params;
---

<AdminLayout title="Detalle de Lead">
  <div class="space-y-6">
    <ConvexLeadDetail client:load leadId={id} />
  </div>
</AdminLayout>
