---
import AdminLayout from '../../layouts/AdminLayout.astro';
import ConvexBlogPostsList from '../../components/admin/ConvexBlogPostsList';
---

<AdminLayout title="Blog">
  <div class="space-y-6">
    <ConvexBlogPostsList client:only="react" />
  </div>
</AdminLayout>
