---
import AdminLayout from '../../layouts/AdminLayout.astro';
import ConvexCommunesList from '../../components/admin/ConvexCommunesList';
---

<AdminLayout title="Comunas (PSEO)">
  <div class="space-y-6">
    <ConvexCommunesList client:only="react" />
  </div>
</AdminLayout>
