---
import AdminLayout from '../../layouts/AdminLayout.astro';
import ConvexSiteConfigForm from '../../components/admin/ConvexSiteConfigForm';
---

<AdminLayout title="Configuración del Sitio">
  <div class="space-y-6">
    <ConvexSiteConfigForm client:only="react" />
  </div>
</AdminLayout>
