---
import AdminLayout from '../../layouts/AdminLayout.astro';
import SiteConfigForm from '../../components/admin/SiteConfigForm';
---

<AdminLayout title="Configuración del Sitio">
  <div class="space-y-6">
    <SiteConfigForm client:load />
  </div>
</AdminLayout>
