---
import AdminLayout from '../../layouts/AdminLayout.astro';
import ConvexIndustriesList from '../../components/admin/ConvexIndustriesList';
---

<AdminLayout title="Industrias">
  <div class="space-y-6">
    <ConvexIndustriesList client:only="react" />
  </div>
</AdminLayout>
