---
import AdminLayout from '../../layouts/AdminLayout.astro';
import ConvexPartnersList from '../../components/admin/ConvexPartnersList';
---

<AdminLayout title="Partners">
  <div class="space-y-6">
    <ConvexPartnersList client:load />
  </div>
</AdminLayout>
