---
import AdminLayout from '../../layouts/AdminLayout.astro';
import ConvexSolutionsList from '../../components/admin/ConvexSolutionsList';
---

<AdminLayout title="Soluciones">
  <div class="space-y-6">
    <ConvexSolutionsList client:load />
  </div>
</AdminLayout>
