---
import AdminLayout from '../../layouts/AdminLayout.astro';
import ConvexTestimonialsList from '../../components/admin/ConvexTestimonialsList';
---

<AdminLayout title="Testimonios">
  <div class="space-y-6">
    <ConvexTestimonialsList client:only="react" />
  </div>
</AdminLayout>
